SHUVTUNNEL_DOMAIN=shuv.zip
SHUVTUNNEL_API_URL=http://localhost:8787
ACME_URL=https://acme.zerossl.com/v2/DV90
ACME_EMAIL=you@example.com
ACME_EAB_KID=
ACME_EAB_HMAC_KEY=
ACME_DNS_PROPAGATION_DELAY_MS=10000
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
